@page "/assessments-parameters"

@using System.Net.Http.Json
@using AvaliaRBI.Shared.Dialogs;
@using AvaliaRBI.Shared.Functions
@using AvaliaRBI._1___Presentation.AssessmentCollection.Dialogs;
@using AvaliaRBI._1___Presentation.Employees.Dialogs;
@using AvaliaRBI._2___Application;
@using AvaliaRBI._3___Domain;
@using AvaliaRBI._3___Domain.Abstractions;
@inject IDialogService DialogService

<ResetDbComponent OnRestDb="ResetDb" Name="AssessmentCollection"/>

<MudTabs Elevation="0" ApplyEffectsToContainer="true" Rounded="true" PanelClass="pt-2">
    <MudTabPanel Text="Critérios de Avaliação" Style="font-size: 0.8rem" ToolTip="AvaliationParameters">

        <MudCard Style="margin-top: 0.5rem;margin-bottom: 1rem; padding:1rem 1rem 1rem 1.5rem">
            <MudGrid Style="align-items: center;">
                <MudItem xs="12" Style="padding-bottom: 0;">
                    <MudText Typo="Typo.h6" Style="font-size: 1rem">
                        Filtros
                    </MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="_searchString" Placeholder="Pesquisar" Adornment="Adornment.Start" Immediate="true"
                                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-5"></MudTextField>
                </MudItem>
                <MudItem xs="6" Style="    text-align: right;">
                    <MudButton Class="person-button" Variant="Variant.Filled" StartIcon="fas fa-plus" IconSize="Size.Small" Color="Color.Primary" Size="Size.Small" Style="width:fit-content;margin-right: 0.5rem;  font-size: 0.7rem" OnClick="() => CreateCollection()">Criar</MudButton>
                </MudItem>
            </MudGrid>
        </MudCard>

        <MudDataGrid T="AssessmentCollection" @ref="grid" Items="@collections" DragDropColumnReordering="MudGridConstants.DragDropReorderingEnabled" ColumnsPanelReordering="MudGridConstants.ColumnsPanelReorderingEnabled"
                     ColumnResizeMode="MudGridConstants.ResizeMode" Hideable="MudGridConstants.Hideable" Filterable="MudGridConstants.Filterable" QuickFilter="@_quickFilter" Groupable="MudGridConstants.Groupable"
                     FilterMode="@MudGridConstants.FilterMode" FilterCaseSensitivity="MudGridConstants.FilterCaseSensitivity" ShowMenuIcon="true" FixedHeader="true"
                     Hover="true" Dense="true" Bordered="false">

            <ToolBarContent>
                <MudText Typo="Typo.h6" Style="font-size: 1rem">
                    Critérios de Avaliação
                </MudText>
                <MudSpacer />
            </ToolBarContent>

            <Columns>
                <PropertyColumn Property="x => x.Name" Title="Nome" Hidden="false" Groupable="true" Sortable="true" Filterable="true" Comparer="new MudBlazor.Utilities.NaturalComparer()" />
                <PropertyColumn Property="x => x.Description" Title="Descrição" Hidden="false" Groupable="true" Sortable="true" Filterable="true" Comparer="new MudBlazor.Utilities.NaturalComparer()" />
                <PropertyColumn Property="x => x.CreatedAt.Value.ToShortDateString()" Title="Criado Em" Hidden="false" Groupable="true" Sortable="true" Filterable="true" Comparer="new MudBlazor.Utilities.NaturalComparer()" />
                <TemplateColumn Title="" Hidden="false" Groupable="false" Sortable="false" Filterable="false" StickyRight="false">
                    <CellTemplate>
                        <div class="d-flex justify-end">
                            <MudIconButton Style="margin-right:1rem" Size="@Size.Small" Title="Detalhes" Icon="@Icons.Material.Outlined.RemoveRedEye" OnClick="() => SeeCollectionDetails(context.Item.Id)" />
                            <MudIconButton Style="margin-right:1rem" Size="@Size.Small" Title="Editar" Icon="@Icons.Material.Outlined.Edit" OnClick="() => UpdateCollection(context.Item.Id)" />
                            <MudIconButton Size="@Size.Small" Title="Excluir" Icon="@Icons.Material.Outlined.Delete" OnClick="() => DeleteCollection(context.Item.Id)" />
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="AssessmentCollection" PageSizeOptions="new int[]{10, 25, 50, 100}"
                                  RowsPerPageString="Linhas por Pág."
                                  InfoFormat="{first_item}-{last_item} de {all_items}" />
            </PagerContent>
        </MudDataGrid>


    </MudTabPanel>
</MudTabs>


@code {

    public MudDataGrid<AssessmentCollection> grid = null;

    [Inject]
    public AssessmentCollectionService AssessmentCollectionService { get; set; }

    private List<AssessmentCollection> collections;

    async Task ResetDb() 
    {
        await AssessmentCollectionService.ResetDb();
        await OnInitializedAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        collections = (await AssessmentCollectionService.GetAll()).ToList();
    }

    private string _searchString;
    private Func<AssessmentCollection, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (!string.IsNullOrWhiteSpace(x.Description) && x.Description.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (x.CreatedAt.Value.ToShortDateString().Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.Name} {x.Description} {x.CreatedAt.Value.ToShortDateString()}".Contains(_searchString))
            return true;

        return false;
    };


    public DialogOptions GetDialogOptions()
    {
        return new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true, CloseButton = true };
    }

    private async Task SeeCollectionDetails(int collectionId)
    {
        var collection = (collections!.FirstOrDefault(collection => collection.Id == collectionId))!;
        if (collection == null)
            return;

        var parameters = new DialogParameters();
        parameters.Add("collection", new AssessmentCollection(collection));
        parameters.Add("isUpdate", false);
        parameters.Add("isReadonly", true);

        var dialogResult = await DialogService.Show<UpsertAssessmentCollectionDialog>("Detalhes dos Parametros de Avaliação", parameters, GetDialogOptions()).Result;
        if (dialogResult.Data == null || dialogResult.Canceled)
            return;
    }

    private async Task CreateCollection()
    {
        var parameters = new DialogParameters();
        parameters.Add("collection", new AssessmentCollection());
        parameters.Add("isUpdate", false);
        parameters.Add("isReadonly", false);

        var dialogResult = await DialogService.Show<UpsertAssessmentCollectionDialog>("Cadastrar Parametros de Avaliação", GetDialogOptions()).Result;
        if (dialogResult.Data == null)
            return;

        var createdCollection = dialogResult.Data as AssessmentCollection;
        collections!.Insert(0, createdCollection!);
    }

    private async Task UpdateCollection(int collectionId)
    {
        var collection = (collections!.FirstOrDefault(collection => collection.Id == collectionId))!;
        if (collection == null)
            return;

        var parameters = new DialogParameters();
        parameters.Add("collection", new AssessmentCollection(collection));
        parameters.Add("isUpdate", true);
        parameters.Add("isReadonly", false);

        var dialogResult = await DialogService.Show<UpsertAssessmentCollectionDialog>("Atualizar Parametros de Avaliação", parameters, GetDialogOptions()).Result;
        if (dialogResult.Data == null || dialogResult.Canceled)
            return;

        var updatedCollection = dialogResult.Data as AssessmentCollection;

        collections!.Remove(collection);
        collections!.Insert(0, updatedCollection!);
    }

    private async Task DeleteCollection(int collectionId)
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Tem certeza de que deseja excluir esse Critério de Avaliação?");
        parameters.Add("SecondaryText", "Essa ação não pode ser desfeita.");
        parameters.Add("ButtonText", "Deletar");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };

        var dialogResult = await DialogService.Show<DeleteRegisterDialog>("Deletar", parameters, options).Result;

        if (dialogResult.Canceled)
            return;

        var result = await AssessmentCollectionService.Delete(collectionId);
        if (!result.IsSuccess)
        {
            await DialogService.ShowError(result.Errors.FirstOrDefault());
            return;
        }

        collections!.RemoveAll(collection => collection.Id == collectionId);
    }
}